body{
  font-family: sans-serif;
}

.nav-top{
  display: flex;
  max-width: 1200px;
  margin: auto;
  background-color: darkred;
  color: white;
  padding: 2%;
}

.grid{
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr;
  max-width: 1200px;
  margin: auto;
}

.left-grid-top{
  grid-columns: span 1;
  grid-rows: span 1;
}

.left-grid-bottom{
  grid-columns: span 1;
  grid-rows: span 1;

}
.right-grid{
  margin-top: auto;
  margin-bottom: auto;
  grid-column: span 1;
  grid-row: span 2;
}

.centered{
  text-align: center;
}


a{
  text-decoration: none;
  color: white;
  padding: 5px;
}
.informational-paragraphs{
}

.right-side-links{
  text-decoration: none;
  text-align: right;
}

.nav-bottom{
  display: flex;
  max-width: 1200px;
  margin: auto;
  background-color: #141414;
  color: white;
  padding: 2%;
  margin-bottom: 2%;
}

footer {
  margin: auto;
  margin-top: 3%;
  display: flex;
  max-width: 1200px;
  background-color: #141414;
  color: white;
  padding: 2%;
}
